<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="title">URL Shorter</span>
          <hr class="star-light">
          <%= form_for :url do |f| %>
						<div class="form-group">
							<div class="col-lg-8 col-lg-offset-2 text-center text" data-value="Enter your url">
								<span class="url_prompt">Enter your long url below: </span>
								<%= f.text_field :long_url, class: "btn btn-lg btn-outline" %>
							</div>
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2 text-center">
									
									<%= f.button fa_icon("paper-plane", text: "Submit"), class: "btn btn-lg btn-outline" %>
								</div>
							</div>
						</div>
					<% end %>
        </div>
      </div>
    </div>
  </div>
</header>